


.prime-table {
/*
    color: inherit;
    font-size: 12px !important;
    border: none !important;

    .vgt-wrap__footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        margin-bottom: 5px;
        border: none !important;
        background: none !important;
        background-color: transparent !important;
    }
    
    .vgt-wrap {
        border: none;
    }
    
    .vgt-responsive {
        overflow-x: visible !important;
    } 

    tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }

    td {
        border: none !important;
    }

    tr {
        border: none !important;
        border-bottom: 1px solid rgb(222, 226, 230) !important;
    }

    tbody {
        th,
        td {
            font-weight: 600 !important;
            padding: 0.35rem 0.6rem !important;
            vertical-align: middle !important;
            white-space: normal !important;
        }
    }
    
    thead {
        border-bottom: 2px solid rgb(222, 226, 230) !important;
    }

    thead {
        th {
            color: map-get($theme-colors, success);
            font-size: 0.75rem;
            font-weight: 600;
        }
    }    

    th {
        border: none !important;
        background: none !important;
        background-color: transparent !important;
    }
    */
    
}




