


.prime-table {

    color: inherit;
    font-weight: normal;
    border: none !important;
        
    .vgt-wrap__footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        margin-bottom: 5px;
        //border: none !important;
        //background: none !important;
        //background-color: transparent !important;
    }
    
    .vgt-wrap {
        border: none;
    }
    
    .vgt-responsive {
        overflow-x: visible !important;
    } 

    &.striped {
        tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05) !important;
        }
    }

    td.vgt-left-align {
        //border: none !important;
        font-size: 12px;
        padding-top: 2 !important;
        padding-bottom: 2 !important;
    }

    tr {
        font-size: 12px;
        //border: none !important;
        //border-bottom: 1px solid rgb(222, 226, 230) !important;
    }

    tbody {
        th,
        td {
            font-weight: 600 !important;
            padding: 0.35rem 0.6rem !important;
            vertical-align: middle !important;
            white-space: normal !important;
        }
    }
    
    thead {
        font-size: 12px;
        //border-bottom: 2px solid rgb(222, 226, 230) !important;
    }

    thead {
        th {
            color: map-get($theme-colors, success);
            font-size: 0.75rem;
            font-weight: 600;
        }
    }    

    th {
        //border: none !important;
        //background: none !important;
        //background-color: transparent !important;
    }
 
    .multiselect {
        //min-height: 38px;
        font-size: inherit;
        height: auto;
        min-height: inherit;
    }

    .multiselect, .multiselect__select, .multiselect__spinner, .multiselect__placeholder, .multiselect__single, .multiselect__tags {
        font-size: 12px;
        height: 20px;
        min-height: 20px;
    }

    .multiselect__select {
        padding: 0;
        top: -5px;
    }

    .multiselect__placeholder {
        //color: lighten(map-get($theme-colors, primary), 35%);
        margin-bottom: 6px;
    }

    .multiselect__single {
        margin-bottom: 6px;
    }

    .multiselect__tags {
        border: none;
        padding: 0;
        background-color: transparent;
    }    
    
    .multiselect__content-wrapper {
        width: inherit;
    }
}




